<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moqi.prts" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_kkdy"
        android:roundIcon="@mipmap/ic_kkdy_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NaviActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service
            android:label="PRTS代理作战"
            android:name=".access.PRTSAccessibilityService"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/prts_as_config" />
        </service>
<!--        <service-->
<!--            android:label="微信自动回复"-->
<!--            android:name=".access.WeChatAutoReplyService"-->
<!--            android:enabled="true"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--                android:resource="@xml/wechat_as_config" />-->
<!--        </service>-->

        <service android:name=".float.PRTSFloatService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>

        <activity android:name=".pages.TaskAceAct"
            android:launchMode="singleTask"
            android:taskAffinity=":ace"/>

        <activity android:name=".pages.TaskBechAct"
            android:launchMode="singleTask"
            android:taskAffinity=":bech"/>

        <activity android:name=".pages.TaskCommonAct"
            android:launchMode="singleTop"/>

    </application>

</manifest>